<section class="section-form">

    <div class="text">
        <h1></h1>
        <p></p>
    </div>

    <form action="" [formGroup]="meuForm" (ngSubmit)="onSubmit()" >
        <label for="nome"></label>
        <input id="nome" formControlName="nome" type="text">

        <label for="email"></label>
        <input id="email" formControlName="email" type="text">

        <app-btn-primary type="submit" [disabled]="!meuForm.valid"  variable="secundary" (submit)="onSubmit()"  [loadding]="loadding()" btn-text="enviar"></app-btn-primary>
    </form>
    
    <h1>{{ response }}</h1>

</section>